body {
        background-image: url("Imagens/Valores.png");
        background-repeat:  no-repeat; 
        background-position: left; 
        background-attachment: fixed;
        background-color: rgb(0, 0, 0);
}

.caixa{
        width: 700px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 23px;
        border: 1px solid 1px;
        border-radius: 60px;

}
.caixa2{
        width: 700px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 23px;
        border: 1px solid 1px;
        border-radius: 60px;
}
.caixa3{
        width: 700px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 23px;
        border: 1px solid 1px;
        border-radius: 60px;
}
.caixa4{
        width: 700px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 23px;
        border: 1px solid 1px;
        border-radius: 60px; 
}

.caixa5{
        width: 50px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 10px;
        border: 1px solid 1px;
        border-radius: 20px;
}
.caixa6{
        width: 300px;
        height: 27px;
        background-color: rgba(0, 0, 0, 0.432);
        padding: 10px;
        border: 1px solid 1px;
        border-radius: 20px;
}

.caixa7{
        width: 300px;
        height: 180px;
        background-color: rgba(255, 255, 255, 0.678);
        padding: 23px;
        border: 1px solid 1px;
        border-radius: 60px;      
}

.imagem{
        background-image: url("baixados\ \(1\).png");
        background-repeat:  repeat; 
        background-position: cover; 
        background-attachment: fixed;
}

.img2{
        position: fixed;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex-end;
}

.texto{
        column-count: 2;
        column-gap: 40px;
}
.texto2{
        text-align: center;
        border: 3px solid;
        padding: 15px;
        -webkit-text-stroke: 1px rgb(226, 240, 36);
}

.texto3{
        -webkit-text-stroke: 0.5px rgb(243, 192, 24);
}

.texto4{
        -webkit-text-stroke: 0.5px rgb(243, 192, 24);
}